<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>javabundle</string>
	<key>CFBundleIdentifier</key>
	<string>blokus.BlokusMain</string>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericApp.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>blokus.BlokusMain</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/Blokus.jar</string>
			<string>/Users/Varun/Blokus/dist/lib/AbsoluteLayout.jar</string>
			<string>/Users/Varun/Blokus/dist/lib/j3dcore.jar</string>
			<string>/Users/Varun/Blokus/dist/lib/j3dutils.jar</string>
			<string>/Users/Varun/Blokus/dist/lib/jmf.jar</string>
			<string>/Users/Varun/Blokus/dist/lib/vecmath.jar</string>
			<string>$JAVAROOT/AbsoluteLayout.jar</string>
			<string>$JAVAROOT/j3dcore.jar</string>
			<string>$JAVAROOT/j3dutils.jar</string>
			<string>$JAVAROOT/jmf.jar</string>
			<string>$JAVAROOT/vecmath.jar</string>
			</array>
	</dict>
</dict>
</plist>
